<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

  <body>
    <div class="back">
      <a href="/doctor/<%= id %>/accountsettings"><i class="fa-solid fa-angle-left" style="color: white;"></i></a>
    </div>
    <form action="/doctor/<%= id %>/changepassword" method="POST">
      <div class="container">
        <div class="logo" style="width: 150px;height: 150px;">
          <img src="/images/pngwing.com.png" alt="logo">
        </div>
        <h1><%= message %></h1> 
        <input type="password" placeholder="New password" name="password" />
        <input type="password" placeholder="Confirm password" name="password" />
        <button type="submit">Change password</button>
      </div>
    </form>
  </body>

</html>