<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
    <body>
      <div class="back">
        <a href="/main"><i class="fa-solid fa-angle-left" style="color: white;"></i></a>
      </div>
        <form action="/Account/forgetpassword" method="POST" >
            <div class="container">
                <div class="logo" style="width: 150px;height: 150px;">
                  <img src="/images/pngwing.com.png" alt="logo">
                </div>
                <h1><%= message %> </h1>
                <input type="text" placeholder="Email" name="email"/>
                <button type="submit">Reset password</button>
              </div>
        </form>
    </body>
</html>