<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
    <body>
        <form action="/doctor/resetpassword/<%= id %>/<%= resetString %>" method="POST" >
            <div class="container">
                <div class="logo" style="width: 150px;height: 150px;">
                  <img src="/images/pngwing.com.png" alt="logo">
                </div>
                <input type="password"  placeholder="New password" name="newPassword"/>
                <button type="submit" >Change password</button>
              </div>
        </form>
    </body>
</html>